services:
  db:
    image: docker.io/mariadb:lts-ubi
    environment:
      # https://mariadb.com/docs/server/server-management/automated-mariadb-deployment-and-administration/docker-and-mariadb/mariadb-server-docker-official-image-environment-variables
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    # Uncomment to make DB accessible from host (please to secure it first)
    # ports:
    #   - 3306:3306
    restart: unless-stopped
  wp:
    build: .
    entrypoint: /custom-entrypoint.sh
    ports:
      - "8080:80"  # update custom-entrypoint.sh if changing port
    depends_on:
      - db
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DEBUG: true
    volumes:
      - wordpress_data:/var/www/html
      - ./custom-entrypoint.sh:/custom-entrypoint.sh
      - .:/var/www/html/wp-content/plugins/phel-wp-plugin

volumes:
  db_data:
  wordpress_data:
